.credits-crew {
    display: flex;
    gap: 3rem;
    width: 50%;
    margin-left: 5rem;
    margin-top: 7rem;
    animation: fade-in 1.5s linear;
}

.credits-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #181818;
}

.credits-card h4 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.cast-member,
.crew-member {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    padding: 0.75rem 0;
}

.cast-member img,
.crew-member img {
    width: 8rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px;
}