nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}

nav li {
    margin-left: 1rem;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    background-color: whitesmoke;
    text-align: left;
    font-size: .9rem;
    width: 10%;
    z-index: 2;
}

.dropdown p, .profile-dropdown p {
    padding: .2rem .5rem;
}

.dropdown p:hover, .profile-dropdown p:hover {
    background-color: rgb(233, 226, 226);
}

.dropdown a {
    color: black;
}

.login-register {
    display: flex;
    gap: .5rem;
    justify-content: space-around;
    position: relative;
}

.login-register button {
    border-radius: 1rem;
    border: none;
    font-size: 1.1rem;
    padding: 3px 1rem;
    transition: background-color 1s, box-shadow .5s;
}

.login-register button:hover {
    background-color: lightgreen;
    box-shadow: white 2px 4px 2px;
}

.profile {
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 15rem;
    padding: 1px 2px;
}

.profile-dropdown {
    position: absolute;
    background-color: white;
    top: 2.1rem;
    font-size: 1rem;
}

@media screen and (max-width: 500px) {
    .login-register {
        flex-direction: column;
        width: 5rem;
    }

    .dropdown {
        position: absolute;
        background-color: whitesmoke;
        text-align: left;
        font-size: .7rem;
        width: 30%;
        z-index: 2;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.form-input {
    width: 50rem;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

form button {
    width: 5rem;
    border: 1px solid lightgray;
    background-color: lightgreen;
    font-size: 1.1rem;
}

form button:hover {
    background-color: rgb(148, 145, 145);
    color: white;
}